# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.theia/
DataExtracts/
build/
claude/
*.md
*.sh
*.csv
!partitions.csv
*exportdata*
.~lock*
*.dxf
*.stl
*.stp
*.step
mklittlefs
*mklittlefs*.tar.gz
claude_chat_export.html
*.bin
*.f3z
*.pwscene
*.code-workspace
*.sql
CommaRecords
CurrentData.json
data_config.json
tools/
manual-user/
manual-assets/
